<%= form_with(model: note, local: true) do |form| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
        <% note.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, style: 'width:100%;' %>
  </div>

<!-- Значение :user_id будет подтягиваться автоматом в контроллере -->

<!-- Значение :label_id будет предлогаться для выбора в блоке ниже: -->

  <div class="form-group">
    <label for="exampleFormControlSelect1">Label select</label>
    <select type="number" name="note[label_id]" class="form-control" id="exampleFormControlSelect1" >
      <% $labels_cur.each do |label| %>
        <option value="<%= label.id %>" ><%= label.name %></option>
      <% end %>
    </select>
  </div>

  <div class="field">
    <%= form.label :public %>
    <%= form.check_box :public %>
  </div>

  <div class="field">
    <%= form.label :level %>
    <%= form.number_field :level %>
  </div>

  <div class="field">
    <%= form.label :stars %>
    <%= form.number_field :stars %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, size: "80x2" %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, :rows => 10, style: 'width:100%;' %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_area :url, rows: 1, style: 'width:100%;' %>
  </div>

  <div> <!-- Выводим здесь прикреплённые теги -->
    <%= link_to 'Tags:', tags_selection_path(note), method: :post %> 
    <% note.tags.each do |tag| %>
      <i><%=  tag.title %></i>
    <% end %>
    <br />
    <br />
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
