<p id="notice"><%= notice %></p>

<h2 class="text-center">Notes</h2>

<% if user_signed_in? %> <!-- ЕСЛИ КЛИЕНТ: то выводим две следующие таблицы: -->
  
  <h4 class="text-right">My Private notes</h4>
  <table class="table">
    <thead class="thead-light">             <!-- ПЕРВАЯ ТАБЛИЦА: - этого клиента (скрытые) -->
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Url</th>
      </tr>
    </thead>

    <tbody>
      <% @notes_closed.each do |note| %> <!-- СКРЫТЫЕ -->
        <tr>
          <td><%= note.id %></td>
          <td><b><%= note.title %></b></td>
          <td>
            <%= note.description %><br />
            <p class='text-right'>
              <%= link_to 'Show', note, class: 'btn btn-outline-success btn-sm' %>
              <% if user_signed_in? %>             <!-- выводить DELETE & EDIT только если КЛИЕНТ, а дальше -->
                <% if current_user.id == note.user_id %> <!-- выводить DELETE & EDIT если КЛИЕНТ есть АВТОР -->
                  <%= link_to 'Edit', edit_note_path(note), class: 'btn btn-outline-warning btn-sm'%>
                  <%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-sm' %>
                <% end %> <!-- /if current... -->
              <% end %> <!-- /if user... -->  
            </p>
          </td>
          <td><%= link_to 'Link to ...', note.url, class: 'btn btn-outline-primary btn-sm' %></td>
        </tr>
      <% end %>
    </tbody>
  </table><br>

  <h4 class="text-right">My Public notes</h4>

  <table class="table">
    <thead class="thead-light">             <!-- ВТОРАЯ ТАБЛИЦА: - этого клиента (открытые) -->
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Url</th>
      </tr>
    </thead>

    <tbody>
      <% @notes_open.each do |note| %> <!-- ОТКРЫТЫЕ -->
        <tr>
          <td><%= note.id %></td>
          <td><b><%= note.title %></b></td>
          <td>
            <%= note.description %><br />
            <p class='text-right'>
              <%= link_to 'Show', note, class: 'btn btn-outline-success btn-sm' %>
              <% if user_signed_in? %>             <!-- выводить DELETE & EDIT только если КЛИЕНТ, а дальше -->
                <% if current_user.id == note.user_id %> <!-- выводить DELETE & EDIT если КЛИЕНТ есть АВТОР -->
                  <%= link_to 'Edit', edit_note_path(note), class: 'btn btn-outline-warning btn-sm'%>
                  <%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-sm' %>
                <% end %> <!-- /if current... -->
              <% end %> <!-- /if user... -->  
            </p>
          </td>
          <td><%= link_to 'Link to ...', note.url, class: 'btn btn-outline-primary btn-sm' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %> <br> <!-- /if user... -->

                            <!-- ДАЛЬШЕ всегда выводим таблицу и для КЛИЕНТА, и для ГОСТЯ --> 
<h4 class="text-right">Other notes</h4>

<table class="table">
  <thead class="thead-light">                 <!-- ТРЕТЬЯ ТАБЛИЦА: - чужие публичные записки -->
    <tr>                                      <!-- для ГОСТЯ все публичные записки есть "чужие" -->   
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Url</th>
        <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes_public.each do |note| %>
      <tr>
          <td><%= note.id %></td>
          <td><b><%= note.title %></b></td>
          <td>
            <%= note.description %><br />
            <p class='text-right'>
              <%= link_to 'Show', note, class: 'btn btn-outline-success btn-sm' %>
              <% if user_signed_in? %>             <!-- выводить DELETE & EDIT только если КЛИЕНТ, а дальше -->
                <% if current_user.id == note.user_id %> <!-- выводить DELETE & EDIT если КЛИЕНТ есть АВТОР -->
                  <%= link_to 'Edit', edit_note_path(note), class: 'btn btn-outline-warning btn-sm'%>
                  <%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-sm' %>
                <% end %> <!-- /if current... -->
              <% end %> <!-- /if user... -->  
            </p>
          </td>
          <td><%= link_to 'Link to ...', note.url, class: 'btn btn-outline-primary btn-sm' %></td>
        </tr>
    <% end %>
  </tbody>
</table><br>

<%= link_to 'New Note', new_note_path if user_signed_in? %>
