<p id="notice"><%= notice %></p>

<h1>Notes</h1>

<% if user_signed_in? %> <!-- ЕСЛИ КЛИЕНТ: то выводим две следующие таблицы: -->
  
  <h3>Me Private</h3>
  <table class="table">
    <thead class="thead-light">             <!-- ПЕРВАЯ ТАБЛИЦА: - этого клиента (скрытые) -->
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Url</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @notes_closed.each do |note| %> <!-- СКРЫТЫЕ -->
        <tr>
          <td><%= note.id %></td>
          <td><%= note.title %></td>
          <td><%= note.description %></td>
          <td><%= link_to 'Link', note.url %></td>
          <td><%= link_to 'Show', note %></td>
          <% if user_signed_in? %>             <!-- выводить DELETE & EDIT только если КЛИЕНТ, а дальше -->
            <% if current_user.id == note.user_id %> <!-- выводить DELETE & EDIT если КЛИЕНТ есть АВТОР -->
              <td><%= link_to 'Edit', edit_note_path(note) %></td>
              <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %> <!-- /if current... -->
          <% end %> <!-- /if user... -->  
        </tr>
      <% end %>
    </tbody>
  </table><br>

  <h3>Me Public</h3>

  <table class="table">
    <thead class="thead-light">             <!-- ВТОРАЯ ТАБЛИЦА: - этого клиента (открытые) -->
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Url</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @notes_open.each do |note| %> <!-- ОТКРЫТЫЕ -->
        <tr>
          <td><%= note.id %></td>
          <td><%= note.title %></td>
          <td><%= note.description %></td>
          <td><%= link_to 'Link', note.url %></td>
          <td><%= link_to 'Show', note %></td>
          <% if user_signed_in? %>             <!-- выводить DELETE & EDIT только если КЛИЕНТ, а дальше -->
            <% if current_user.id == note.user_id %> <!-- выводить DELETE & EDIT если КЛИЕНТ есть АВТОР -->
              <td><%= link_to 'Edit', edit_note_path(note) %></td>
              <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %> <!-- /if current... -->
          <% end %> <!-- /if user... -->  
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %> <br> <!-- /if user... -->

                            <!-- ДАЛЬШЕ всегда выводим таблицу и для КЛИЕНТА, и для ГОСТЯ --> 
<h3>Others</h3>

<table class="table">
  <thead class="thead-light">                 <!-- ТРЕТЬЯ ТАБЛИЦА: - чужие публичные записки -->
    <tr>                                      <!-- для ГОСТЯ все публичные записки есть "чужие" -->   
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Url</th>
        <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes_public.each do |note| %>
      <tr>
        <td><%= note.id %></td>
        <td><%= note.title %></td>
        <td><%= note.description %></td>
        <td><%= link_to 'Link', note.url %></td>
        <td><%= link_to 'Show', note %></td>
        <% if user_signed_in? %>             <!-- выводить DELETE & EDIT только если КЛИЕНТ, а дальше -->
          <% if current_user.id == note.user_id %> <!-- выводить DELETE & EDIT если КЛИЕНТ есть АВТОР -->
            <td><%= link_to 'Edit', edit_note_path(note) %></td>
            <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %> <!-- /if current... -->
        <% end %> <!-- /if user... -->  
      </tr>
    <% end %>
  </tbody>
</table><br>

<%= link_to 'New Note', new_note_path if user_signed_in? %>
