<p id="notice"><%= notice %></p>

<h1>Labels</h1>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @labels.each do |label| %>
      <tr>
        <td><%= label.id %></td>
        <td><%= label.name %></td>
        <td><%= label.description %></td>
        <td>
          <div class='text-right'>
            <%= link_to 'Show', label, class: 'btn btn-outline-success btn-sm' %>
            <%= link_to 'Edit', edit_label_path(label), class: 'btn btn-outline-warning btn-sm' %>
            <%= link_to 'Destroy', label, class: 'btn btn-outline-danger btn-sm', method: :delete, data: { confirm: 'Are you sure?' } %>   
          </div>   
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
