<p id="notice"><%= notice %></p>

<div class="border border-info" >
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="text-left col-md-9 col-sm-8">
      <a class="navbar-brand" href="/">Labels</a>
      <%= link_to 'New Label', new_label_path, class: 'btn btn-outline-primary btn-sm' if user_signed_in? %>
    </div>         
    <div class="text-right col-md-3 col-sm-4"> 
      <%= link_to ' To Home ',      root_path, class: 'btn btn-outline-info btn-sm' %>
    </div>
  </nav>
</div>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @labels.each do |label| %>
      <tr>
        <td><%= label.id %></td>
        <td><%= label.name %></td>
        <td><%= label.description %>
          <div class='text-right'>
            <%= link_to 'Show', label, class: 'btn btn-outline-success btn-sm' %>
            <%= link_to 'Edit', edit_label_path(label), class: 'btn btn-outline-warning btn-sm' %>
            <%= link_to 'Destroy', label, class: 'btn btn-outline-danger btn-sm', method: :delete, data: { confirm: 'Are you sure?' } %>   
          </div>   
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
