<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Notes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <div class="text-left col-md-9 col-sm-8">
        <a class="navbar-brand" href="/">My scrapbook</a>
        <%= link_to ' Notes ',   notes_path %> |
        <%= link_to ' Labels ', labels_path %> |
      </div>         
     
      <div class="text-right col-md-3 col-sm-4"> 
      <!-- Здесь сделаем блок вывода Sign_IN и Sign_OUT в зависимости от того, залогинился пользователь или не залогинился. 
      Дополнительно будем прописывать E-mail, под которым проведена регистрация данного пользователя -->  
        <% if user_signed_in? %>
          User: <b><%= current_user.email %></b><br />
          <%= link_to 'Sign_OUT',  destroy_user_session_path, method: :delete %> |
          <%= link_to 'Edition', edit_user_registration_path %>
        <% else %>
          <b>User: Guest </b><br />
          <%= link_to 'Registration', new_user_registration_path %> |
          <%= link_to 'Sign_IN',      new_user_session_path %> 
        <% end %>
      </div>
    </nav>

    <%= yield %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  </body>
</html>