<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Developer Scrapbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/bootstrap-4.4.1-dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<!-- ================================================================================================= HEADER-block -->
    <header id="header" class="border border-info">
      <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <div class="text-left col-md-9 col-sm-8">
          <a class="navbar-brand" href="/">Developer scrapbook</a>
          <%= link_to 'Notes ',  notes_path, class: 'btn btn-info', title: 'Show notes'%>
          <%= link_to 'Labels', labels_path, class: 'btn btn-info' if user_signed_in? %>  
        </div>         
       
        <div class="text-right col-md-3 col-sm-4"> 
        <!-- Здесь сделаем блок вывода Sign_IN и Sign_OUT в зависимости от того, залогинился пользователь или не залогинился. 
        Дополнительно будем прописывать E-mail, под которым проведена регистрация данного пользователя -->  
          <% if user_signed_in? %>
            User: <b><%= current_user.email %></b><br />
            <%= link_to 'Sign_OUT',  destroy_user_session_path, method: :delete, class: 'btn btn-info btn-sm' %>
            <%= link_to 'Edition', edit_user_registration_path, class: 'btn btn-outline-success btn-sm' %>
          <% else %>
            User: <b> Guest </b><br />
            <%= link_to 'Registration', new_user_registration_path, class: 'btn btn-outline-success btn-sm' %> 
            <%= link_to 'Sign_IN',      new_user_session_path, class: 'btn btn-info btn-sm' %> 
          <% end %>
        </div>
      </nav>
    </header>

<!-- =============================================================================================== SECTION-block -->
    <section class="">
      <div class="row">
        <div class="main_centre col-lg-2 col-md-3 col-sm-4 col-xs-12"> 
<!-- ================================================================================================== MENU-block -->
          <div class='text-center'>
            <p class="alert"><%= alert %></p> 
            <h4>Labels</h4>
            <p class="notice"><%= notice %></p>
            <!-- Перебираем все текщие метки и выводим их в левое меню по двум условиям:
                  если это Чел, то выводим каждую метку этого Чела, иначе
                  если это Гость, то выводим только не нулевые метки (у которых есть публичные записи) --> 
            <% $labels_cur.each do |label| %>
              <% if user_signed_in? %>
                <%= link_to label.name + " (#{$labels_hh[label.id]})", root_path, class: 'btn btn-outline-success btn-block btn-sm'%>              
              <% elsif $labels_hh[label.id] != 0 %>
                <%= link_to label.name + " (#{$labels_hh[label.id]})", root_path, class: 'btn btn-outline-success btn-block btn-sm'%>
              <% end %>  
            <% end %>
            <p></p>
          </div>
        </div>
      
        <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12">
          <div class="item-page home mobile_scroll"> 
<!-- ================================================================================================= YIELD-block -->
          <%= yield %>

          </div>
        </div>
      </div>  
    </section>

<!-- =============================================================================================== FOOTER-block -->
    <footer id="footer" class="border border-info" style="background-color: #e3f2fd;">
      <div class="footer_con container">
        <div class="footer_rigth text-center">
          <br /> 
          <p>
            &copy; 2020 «OPR-A-RUBY» from https://github.com
          </p>

          <script src="/bootstrap-4.4.1-dist/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
          <script src="/bootstrap-4.4.1-dist/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
          <script src="/bootstrap-4.4.1-dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

          <%= link_to ' Show site author profile now ', autor_site_path if user_signed_in? %>
        </div>
      </div>
    </footer> 
  </body>
</html>